
.open-sans-primary {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* site color css */
.title-color{
    color: #181818;
}

.primary-color{
    color:#FD6E0A;
}

.primary-btn{
    background-color: #FD6E0A;
    color: #fff;
    padding: 10px 25px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
.primary-secondary {
    color: #FD6E0A;
    padding: 10px 25px;
    border: 1px solid;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}
/* global css start */
*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.align-item-center{
    align-items: center;
}
/* global css end */

/* Indivizual Css Start */

.logo a{
    text-decoration: none;
}
.logo a h3{
    font-size: 40px;
}

.nav ul{
    display: flex;
    align-items: center;
}
.nav ul li{
    list-style: none;
    padding: 10px 15px;
    margin-left: 10px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #474747;
}
/* banner section start */
.banner-img img {
    max-width: 600px;
    margin-bottom: -5px;
} 
.banner .banner-content {
    width: 565px;
}
.banner-content h3 {
    font-size: 45px;
    font-weight: 500;
}
.banner-content h4 {
    font-size: 85px;
    color: #181818;
}
.banner-content p {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin: 25px 0px;
}
/* banner section end */
/* header section end */
/* about section start */


/* about section end */
/* Indivizual Css End */